# Python
__pycache__/
*.pyc
.venv/
venv/

# Data files (too large for GitHub)
data/raw/*.csv
data/processed/*.csv

# Secrets
.env
*.env

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
